/*
  Estilos da barra de navegação (Navbar).

  - Define a barra como fixa no topo, ocupando toda a largura,com fundo preto e texto branco.
  - Utiliza flexbox para alinhar logo e título de forma organizada.
  - Ajusta o tamanho da logo e o estilo do texto do título.
  - Garante que a Navbar fique sempre visível usando z-index alto.
*/

.navbar {
  width: 100%;
  padding: 16px 32px;
  background: #000000;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;     
  top: 0;             
  left: 0;
  z-index: 1000;       
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.titulo {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
.logo-img {
  height: 70px;  
}
